<html>
    <body>
        <head>
            <a href="/">Home</a>
        </head>
        <h1>
            <%= message %>
        </h1>
        <h2>
            <%= error.status %>
        </h2>
        <!-- <pre><%= error.stack %></pre> -->
        <footer>
            <p>Copyright 2025. Progás Soluções e Engenharia de Gás Ltda</p>
        </footer>
    </body>
</html>

