<%- include("_head.ejs") %>

  <body class="container">
    <%- include('siteNavigation.ejs') %>
      <center>
        <h2>Seja bem-vindo ao SIP</h2>
        <h1>Sistema Interno da Progás</h1>
        <img src="../images/8.png" width="600px" style="margin: 50px;" />
      </center>
      <%- include('_footer.ejs') %>
  </body>

  </html>