<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><h1>Bem vindo ao Sistema Progás</h1></p>
    
      <p><a href="/users">Gestão de usuários</a></p>
  </body>
</html>
