<%- include("_head.ejs") %>
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="mb-4">
            <center><img src="../images/8.png" width="400px"></center>
        </div>
        <h3 class="mb-5 text-center">
            Autenticação de usuário
        </h3>
        <form action="/" method="post" class="w-100 p-4 rounded-3 shadow mb-3" style="max-width: 500px;">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-auto">
                        <label class="col-form-label" for="email">Email</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="email" name="email" placeholder="Email do usuário" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="password">Senha</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="password" name="password"
                            placeholder="Senha de acesso ao Progás" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">&nbsp;Entrar&nbsp;</button>
                        <a class="btn btn-link" href="/forgot">Esqueci minha senha</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="">
            <%= message %>
        </div>
        <script>
            if (window.location.search.includes('error')) {
                alert('Erro ao autenticar o usuário. Verifique os dados e tente novamente.');
            }
        </script>
    </div>
    <center class="mt-5">
        <button class="btn btn-secondary ms-3" type="button"
        onclick="document.documentElement.setAttribute('data-bs-theme', 'dark');" title="Fundo escuro"><i
        class="bi bi-lightbulb-off"></i></button>
        <button class="btn btn-secondary ms-1" type="button"
        onclick="document.documentElement.setAttribute('data-bs-theme', 'light');" title="Fundo claro"><i
        class="bi bi-lightbulb"></i></button>
    </center>

    <%- include("_foot.ejs") %>