<%- include("_head.ejs") %>

    <body class="fw-normal container">
        <div class="">
            <center><img src="../images/8.png" width="400px"></center>
        </div>
        <h3 class="mb-3"><%= title %></h3>
        <form action="/" method="post">
            <div class="container-fluid p-3 mb-3">
                <div class="row mb-3">
                    <div class="col-1">
                        <label class="col-form-label" for="email">Email</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="email" name="email" placeholder="Email do usuário" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-1">
                        <label for="password">Senha</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="password" name="password"
                            placeholder="Senha de acesso ao Progás">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">&nbsp;Entrar&nbsp;</button>
                        <button class="btn btn-outline-secondary offset-1" type="submit">Esqueci minha senha</button>

                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="p-3">
                <div class="row">
                    <div class="form-group">
                        <a class="btn btn-link" href="/users">Voltar</a>
                        <a class="btn btn-link" href="/">Home</a>
                    </div>
                </div>
            </div> -->
        <script>
            if (window.location.search.includes('error')) {
                alert('Erro ao autenticar o usuário. Verifique os dados e tente novamente.');
            }
        </script>
    </body>
    <%- include("_footer.ejs") %>

        </html>