<!-- <div  style="background-color: #1d3329; padding: 10px;">
    <span style="width: 500px;">
        <img src="/images/hlogo.png" width="200" /> 
    </span>
    <span>
        <a href="/">Home</a> | 
        <a href="/users">Usuários</a> |
        <a href="http://www.progassolucoes.com.br" target="_blank">Site</a>
    </span>
</div> -->
<nav class="navbar navbar-expand-lg" style="background-color: #1D3329;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/hlogo.png" width="200" alt="Logotipo Progás"
                title="Progás home page" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav d-flex justify-contente-between">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/users" title="Gestão de usuários do sistema">Usuários</a>
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Setor
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Administrativo</a></li>
                            <li><a class="dropdown-item" href="#">Financeiro</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Tecnologia | Marketing</a></li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row-reverse justify-content-between">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" />
                        <button class="btn btn-success" type="submit">Buscar</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<br />