h1 {
  color: #006575;
}

h2 {
  color: #006575;
}

h3 {
  color: #006575;
}

/* E assim por diante para h4, h5, h6 */

/* body {
  font-family: var(--bs-body-font-family);
  padding: 25px;
}

a {
  color: #00B7FF;
}

table thead tr {
  background-color: #ccc;
  color: navy;
  text-align: left;
}

table {
  border-collapse: collapse;
  border: #00B7FF 1px solid;
}

table th, table td {
  padding: 5px;
  border: #00B7FF 1px solid;
}

table tr:hover {
  cursor: pointer;
  background-color: #ccc;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-bottom: 5px;
} */